@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kcgury');
  src:  url('../fonts/icomoon.eot?kcgury#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kcgury') format('truetype'),
    url('../fonts/icomoon.woff?kcgury') format('woff'),
    url('../fonts/icomoon.svg?kcgury#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-blank:before {
  content: "\e901";
}
.icon-login:before {
  content: "\e902";
}
