@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
* base
*----------------------------*/

//box-sizeing
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

// ページ全体
body {
  font-family: $font_family_base;
  word-break: break-all;
  @include mediaquery-pc {
    min-width: 1124px;
    margin-top: 140px;
  }
  @include mediaquery-mobile {
    margin-top: 75px;
  }
}
header {
  @include mediaquery-pc {
    min-width: 1124px;
  }
}

// デフォルトリンク
a {
  color: $color_link;
}

a:not(.hoverNot) {
  @include mediaquery-pc {
    @include transition(all .1s ease-in-out);
    &:hover {
      @include transition(all .2s ease-in-out);
      opacity: .7;
    }
  }
}

// テキスト
p {
  color: $color_font;
  font-size: $font_size_base;
  line-height: 1.5;
}

// 見出し
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

//リスト
ul,
ol {
  & > li {
    color: $color_font;
    font-size: $font_size_base;
    line-height: 1.3;
  }
}

//フォーム
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

// telリンク
a[href^="tel:"] {
  @include mediaquery-pc {
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
    color: $color_font;
  }
  @include mediaquery-tablet {
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
    color: $color_font;
  }
}

img {
  vertical-align: bottom;
}

em {
  font-style: oblique !important;
}