@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  お問合わせ
*----------------------------*/

.contact-formBtn {
  text-align: center;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  @include mediaquery-smartphone {
    width: 60%;
  }
  &:after {
    position: absolute;
    content: "\e900";
    display: inline-block;
    top: 50%;
    right: 50%;
    margin-right: -3.5em;
    color: #fff;
    font-family: 'icomoon' !important;
    @include transform(translate(-50%,-50%));
    @include transition(all ease 0.2s);
  }
  &:hover:after {
      color: #4d4d4d;
  }
  &__item {
  }
}