@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  協会概要
*----------------------------*/
.column-logoConcept {
    @include display-flex;
    @include justify-content(space-between);
    @include mediaquery-smartphone {
        display: block !important;
    }
}
.logoConcept{
    &__logo {
        width: 230px;
    }
    &__text {
        @include calc('width', '100% - 260px');
    }
    @include mediaquery-smartphone {
        &__logo {
            width: 70%;
            margin: 0 auto 30px;
        }
        &__text {
            width: auto;
        }
    }
}
.overview-members {
    ul > li {
        line-height: 1.5;
    }
}
.overview-access-photo {
    padding: 0 20px 20px 20px;
    background: #fff;
}