@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  会員名簿
*----------------------------*/
.member-listContainer {
    @include mediaquery-spNot {
        @include display-flex;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
    }
}
.member-list__item {
    padding: 1em;
    border-bottom: 1px solid #ccc;
    @include mediaquery-spNot {
        width: 48%;
        &:nth-child(-n+2) {
            border-top: 1px solid #ccc;
        }
    }
    @include mediaquery-smartphone {
        &:first-child {
            border-top: 1px solid #ccc;
        }
    }
    .item-name {
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 400;
        &:before {
            content: "◆";
            color: $color_main;
        }
    }
    ul > li {
        padding-left: 1em;
        text-indent: -1em;
        &:before {
            content: "・";
        }
        @include mediaquery-mobile {
            font-size: 14px;
        }
    }
}