@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  会員専用ページ
*----------------------------*/
.member-loginContainer {
    margin-bottom: 85px;
    padding-top: 70px;
    padding-bottom: 120px;
    background-color: #f2f2f2;
}

.member-login {
    max-width: 360px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
}
.member-login__item {
    & + .member-login__item {
        margin-top: 20px;
    }
}
.member-login__label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.member-login__input input{
    width: 100%;
    padding: 1em;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.member-loginBtn {
    position: relative;
    &:after {
        position: absolute;
        content: "\e900";
        display: inline-block;
        top: 50%;
        right: 50%;
        margin-right: -3.5em;
        color: #fff;
        font-family: 'icomoon' !important;
        @include transform(translate(-50%,-50%));
        @include transition(all ease 0.2s);
    }
    &:hover:after {
        color: $color_main;
    }
    .mod-btn-01 {
        height: 65px;
        padding: 0 1.5em 0 0;
    }
}

/*
*  書式ダウンロード
*----------------------------*/
.icon-pdf {
    display: inline-block;
    width: 27px;
    margin-right: 5px;
    vertical-align: -6px;
}
.download-list {
    ul {
        li {
            a{
                color: #333;
            }
            & + li {
                margin-top: 15px;
            }
        }
    }
}
.download--adobeReader {
    @include display-flex;
    padding: 25px;
    @extend .bg-lb;
    @include mediaquery-smartphone {
        display: block;
        padding: 20px;
    }
    &__img {
        width: 138px;
        @include mediaquery-spNot {
            padding-top: 5px;
        }
    }
    &__text {
        @include mediaquery-spNot {
            margin-left: 15px;
        }
        @include mediaquery-smartphone {
            margin-top: 15px;
        }
    }
}
.download-categoryNav {
    margin-top: 20px;
    margin-bottom: 30px;
    .sub-pgNav-4clm {
        margin-bottom: 0;
        @include justify-content(start);
        @include mediaquery-mobile {
            @include justify-content(start);
        }
        li {
            width: 180px;
            margin-left: 10px;
            margin-bottom: 10px;
            @include mediaquery-pc {
                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
            @include mediaquery-tablet {
                width: 33%;
                margin-bottom: 10px;
                margin-left: 0.5%;
                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
            @include mediaquery-smartphone {
                width: 49%;
                margin-bottom: 10px;
                margin-left: 2%;
                &:nth-child(2n + 1) {
                    margin-left: 0;
                }
            }
        }
        a {
            height: 40px;
            line-height: unset;
            padding: 4px 10px;
            font-size: 12px;
            @include display-flex;
            @include justify-content (center);
            @include align-items (center);
            @include mediaquery-mobile {
                font-size: 12px;
            }
        }
    }
}
/*
*  行事予定
*----------------------------*/
.member-calendar {
    width: 100%;
    &__head {
        @include display-flex;
        @include justify-content(center);
        @include align-items(flex-end);
        @include mediaquery-smartphone {
            padding-bottom: 10px;
        }
    }
    center {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(flex-end);
        margin-bottom: 15px;
        a {
            color: $color_main;
        }
        .prev,
        .next {
            margin: 0 10px;
        }
    }
    .year {
        color: $color_main;
        font-size: 17px;
        font-weight: 700;
        line-height: 1.6;
        margin-right: 5px;
    }
    .month {
        span {
            color: $color_main;
            font-weight: 700;
            &:first-child {
                font-size: 56px;
            }
            &:last-child {
                font-size: 33px;
            }
        }
    }
    .week {
        td {
            border-bottom: 1px solid #b5b5b6;
            @include mediaquery-spNot {
                width: 14.2857%;
                height: 90px;
                padding-top: 10px;
                vertical-align: top;
                position: relative;
                & + td:before{
                    content: "";
                    position: absolute;
                    left: -2px;
                    bottom: -1px;
                    width: 4px;
                    height: 1px;
                    background: #fff;
                }
            }
            @include mediaquery-smartphone {
                @include display-flex;
            }
        }
        .blanck {
            @include mediaquery-smartphone {
                border-bottom: none;
            }
        }
    }
    .day {
        border-top: 1px solid #b5b5b6;
        border-bottom: 1px solid #b5b5b6;
        th {
            span {
                background-color: rgba($color_sub, 0.1);
                @include mediaquery-spNot {
                    display: block;
                    line-height: 40px;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    margin: 10px auto;
                    border-radius: 20px;
                }
            }
            &.sunday span {
                background-color: #ffe3e5;
            }
        }
    }
    .date {
        text-align: center;
        @include mediaquery-spNot {
            display: block;
            width: 1.5em;
        }
        @include mediaquery-smartphone {
            font-size: 18px;
            font-weight: bold;
            border-right: 1px solid #ccc;
            display: inline-block;
            width: 60px;
            padding: 22px 0;
            > span {
                font-size: 13px;
                font-weight: 500;
                vertical-align: 1px;
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
    .sunday {
        color: #ed1c24;
    }
    .saturday {
        color: #0071bc;
    }
    .event {
        @include mediaquery-smartphone {
            display: block;
            width: 100%;
            padding: 10px;
        }
        a {
            color: #333;
            display: block;
            margin-top: 5px;
            @include mediaquery-spNot {
                font-size: 12px;
            }
            @include mediaquery-smartphone {
                vertical-align: top;
                & + a {
                    margin-top: 10px;
                }
            }
        }
        p {
            margin-top: 5px;
        }
    }
    tr {
        @include mediaquery-smartphone {
            &:first-of-type {
                border-bottom: 1px solid #b5b5b6;
            }
        }
    }
}
.memberCalendar-sgContainer {
    border-top: 1px solid #b5b5b6;
    border-bottom: 1px solid #b5b5b6;
    padding-top: 35px;
    padding-bottom: 60px;
}
  
.memberCalendar-sgTime {
    font-size: 20px;
    font-weight: 500;
    border-top: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 15px 0 15px 10px;
}
  
.memberCalendar-sgBody {
    p{
        line-height: 1.7;
        padding-right: 10px;
        padding-left: 10px;
    }
}
.memberCalendar-sgTitle {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    padding-left: 55px;
    &:before  {
        content: "";
        position: absolute;
        top: -3px;
        left: 15px;
        width: 30px;
        height: 30px;
        background-image: url(../img/member/icon_calendar.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.memberCalendar-sgInfo {
    @include display-flex;
    @include flex-wrap(wrap);
    dt{
        color: $color_main;
        width: 5em;
        margin-bottom: 12px;
    }
    dd {
        @include calc('width', '100% - 5em');
        margin-bottom: 12px;
    }
}
