@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  top page
*----------------------------*/
.top-contentsContainer {
    padding-top: 50px;
    background-color: rgba($color_sub, 0.1);
    @include mediaquery-smartphone {
        padding-top: 40px;
    }
}
.top-subSectionHeader {
    display: inline-block;
    font-size: 30px;
    color: #000;
    margin: 0 0 1em;
    padding: 0;
    &:before{
        content: "";
        display: inline-block;
        width: 25px;
        height: 22px;
        margin-right: 15px;
        background-image: url(../img/common/icon_head_01.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__ja {
        display: inline-block;
        font-size: 14px;
        color: $color_main;
        margin-left: 1em;
    }
}

/*
*  01 KV
*----------------------------*/
.top-kvContainer {

}
.top-kv {
    position: relative;
    overflow: hidden;
    @include mediaquery-pc {
        width: 1124px;
        height: 460px;
        margin: 0 auto;
    }
    @include mediaquery-tablet {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    @include mediaquery-smartphone {
        width: auto;
        height: 210px;
        img{
            width: auto;
            height: 100%;
        }
    }
    &__img{
        width: auto;
        height: 100%;
        img{
            vertical-align: bottom;
            @include mediaquery-smartphone {
                margin-left: -50px;
            }
        }
    }
    &__text {
        position: absolute;
        width: 1024px;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        @include mediaquery-mobile {
            width: 100%;
            padding-right: 10px;
            padding-left: 10px;
        }
        &__en {
            margin-bottom: 6px;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.025em;
            color: $color_main;
            @include mediaquery-smartphone {
                font-size: 11px;
            }
            @include mediaquery-smartphone {
                font-size: 8px;
            }
        }
        &__copy {
            font-size: 36px;
            font-weight: 700;
            color: #fff;
            @include text-shadow(0px 0px 5px rgba(#000, 0.3));
            @include mediaquery-tablet {
                font-size: 30px;
            }
            @include mediaquery-smartphone {
                font-size: 18px;
            }
        }
    }
}

/*
*  03 bnr
*----------------------------*/
.top-bnr{
    padding-bottom: 50px;
    @include mediaquery-smartphone {
        padding-bottom: 40px;
    }
    &__item {
        width: 100%;
        @include mediaquery-pc {
            width: 880px;
            margin: 0 auto;
        }
    }
}

/*
*  02 aboutUs
*----------------------------*/
.top-aboutUs {
    padding-bottom: 50px;
}
.top-aboutUs-BnrList {
    @include display-flex;
    @include justify-content(space-between);
    @include mediaquery-pc {
        .top-aboutUs-Bnr {
            width: 325px;
        }
    }
    @include mediaquery-tablet {
        .top-aboutUs-Bnr {
            width: 33%;
        }
    }
    @include mediaquery-smartphone {
        display: block;
        .top-aboutUs-Bnr {
            width: 100%;
            & + .top-aboutUs-Bnr{
                margin-top: 20px;
            }
        }
    }
    .top-aboutUs-Bnr {
        display: block;
        text-decoration: none;
        &__img {
            img {
                display: block;
            }
        }
        &__caption {
            position: relative;
            padding : 16px 0 18px 16px;
            font-size: 20px;
            background: #fff;
            color: #000;
            &:after {
                position: absolute;
                content: "\e900";
                font-family: 'icomoon' !important;
                font-size: 20px;
                color: $color_main;
                top: 50%;
                right: 0.5em;
                @include transform(translateY(-50%));
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            &__en {
                display: inline-block;
                margin-left: 1em;
                font-size: 11px;
                color: $color_main;
            }
        }
    }
}

.column-wrap {
    @include mediaquery-pc {
        @include display-flex;
        @include justify-content(space-between);
        .column-news {
            width: 650px;
        }
        .column-btn {
            @include display-flex;
            @include flex-direction(column);
            @include justify-content(space-between);
            width: 340px;
        }
    }
    @include mediaquery-tablet {
        .column-btn {
            @include display-flex;
            @include justify-content(space-between);
            .top-contents-Bnr {
                width: 48%;
            }
        }
    }
    @include mediaquery-mobile {
        .column-btn {
            margin-top: 40px;
        }
    }
    @include mediaquery-smartphone{
        .column-btn .top-contents-Bnr + .top-contents-Bnr {
            margin-top: 15px;
        }
    }
}
.column-news__title {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(baseline);
    @include mediaquery-pc {
        width: 650px;
    }
    &__hl,
    &__more {
        display: inline-block;
    }
}
.column-news__more {
    a {
        text-decoration: none;
        color: $color_main;
        &:after{
            display: inline-block;
            content: "\e900";
            margin-left: 8px;
            font-family: 'icomoon' !important;
            font-size: 14px;
        }
    }
}

.top-subContents {
    padding-bottom: 65px;
}

/*
*  06 news
*----------------------------*/
.top-news {
    // @include mediaquery-pc {
    //     min-height: 350px;
    // }
    // @include mediaquery-tablet {
    //     width: 100%;
    //     min-height: 350px;
    // }
    // @include mediaquery-smartphone {
    //     width: 100%;
    //     min-height: 350px;
    // }
}

.top-newsContent {
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    @include mediaquery-pc {
        min-height: 380px;
        padding: 4px 12px;
    }
    @include mediaquery-tablet{
        padding: 0 12px;
    }
    @include mediaquery-smartphone {
        padding: 0 10px;
    }
}

.top-newsBtn__List {
    display: block;
    position: absolute;
    font-family: $font_family_sub_02;
    font-size: 16px;
    color: #000;
    .icon-menu {
        color: $color_main;
        font-size: 16px;
    }
    @include mediaquery-pc {
        top: 73px;
        right: 12px;
    }
    @include mediaquery-mobile {
        right: 0;
        bottom: 0;
    }
}

.top-newsArticle {
    border-bottom: 1px solid #b3b3b3;
    &:last-child {
        border-bottom: 0;
    }
    &__inner {
        @include display-flex;
        position: relative;
        padding: 1.8em 1.5em;
        text-decoration: none;
        color: $color_font;
        @include transition(all 0.1s ease-in-out);
        @include mediaquery-tablet {
            padding: 1.5em 0.5em;
        }
        @include mediaquery-smartphone {
            display: block;
            padding: 1em 0;
        }
    }
    &__date {
        width: 10em;
        font-size: 14px;
        color: $color_main;
        @include mediaquery-smartphone {
            display: block;
            width: 100%;
            margin-bottom: 8px;
        }
    }
    &__title {
        @include calc('width', '100% - 10em');
        font-size: 14px;
        @include mediaquery-smartphone {
            width: 100%;
        }
    }
}

.top-contents-Bnr {
    border: 1px solid #e6e6e6;
    a {
        position: relative;
        display: block;
        text-decoration: none;
        background-color: #fff;
        border-right: 30px solid $color_main;
        &:after {
            position: absolute;
            content: "\e900";
            font-family: 'icomoon' !important;
            top: 50%;
            right: -22px;
            font-size: 14px;
            color: #fff;
            @include transform(translateY(-50%));
        }
    }
    &__img {
    }
    &__caption {
        padding-top: 18px;
        padding-bottom: 22px;
        font-size: 20px;
        text-align: center;
        color: #000;
        &__en {
            display: block;
            margin-top: 8px;
            font-size: 11px;
            color: $color_main;
        }
    }
}

/*
*  07 contact
*----------------------------*/
.top-contact {
    padding-top: 80px;
    padding-bottom: 80px;
    @include mediaquery-mobile {
      margin-bottom: 160px;
      margin-top: 50px;
      padding: 0 10px;
    }
}

.top-contactContainer {
    text-align: center;
    border-top: 1px solid $color_main;
    border-bottom: 1px solid $color_main;
    max-width: 620px;
    margin: 0 auto;
    padding: 16px 10px;
}

.top-contact-btn {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
    &:last-child {
        margin-left: 0;
    }
    @include mediaquery-smartphone {
        margin-right: 0;
        margin-left: 0;
    }
    .mod-btn-01 {
        padding: 26px 0 26px 0;
        font-size: 19px;
    }
    .mod-btn-02 {
        height: 100%;
        padding: 22px 0 0 0;
        font-size: 36px;
        font-weight: bold;
        color: $color_main;
    }
}
