@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  活動報告
*----------------------------*/
.column-reportContainer {
    @include display-flex;
    @include flex-wrap(wrap);
    margin-top: 25px;
    @include mediaquery-smartphone {
        @include justify-content(space-between);
    }
}
.column-report {
    &__item {
        margin-bottom: 1em;
        .column4 & {
            @include mediaquery-pc {
                width: 228px;
                margin-right: 22px;
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
            @include mediaquery-tablet {
                width: 23%;
                margin-right: 2.6666%;
                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
            @include mediaquery-smartphone {
                width: 48%;
            }
        }
        .column3 & {
            @include mediaquery-pc {
                width: 312px;
                margin-right: 22px;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            @include mediaquery-tablet {
                width: 31.5%;
                margin-right: 2.75%;
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
            @include mediaquery-smartphone {
                width: 100%;
            }
        }
        .item--arrow {
            position: relative;
            display: inline-block;
            &:after {
                position: absolute;
                content: "";
                top: 50%;
                right: -42px;
                width: 56px;
                height: 38px;
                background-image: url(../img/report/icon_report_arrow.png);
                background-position: top center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                @include transform(translateY(-50%));
                @include mediaquery-smartphone {
                    right: -35px;
                    width: 42px;
                    height: 28px;
                }
            }
        }
    }
    &__caption {
        margin-top: 8px;
        font-size: 14px;
    }
}