@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  blog
*----------------------------*/

//post-detail
#post-detail {
  h1 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid #b5b5b6;
    position: relative;
    margin: 30px 0;
    padding: 0 0 10px 22px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 6px;
      width: 4px;
      height: 30px;
      background-color: #e6e6e6;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 6px;
      width: 4px;
      height: 6px;
      background-color:$color_sub;
    }
  }
  h2 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    padding-left: 20px;
    margin: 30px 0;
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      top: 6px;
      left: 0;
      width: 12px;
      height: 12px;
      background-image: url(../img/common/icon_head_02.png);
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  h3 {
    color: $color_main;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0;
  }
  h4 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    margin: 30px 0;
    padding-left: 16px;
    &:before {
      content: '●';
      position: absolute;
      display: inline-block;
      color: $color_sub;
      font-size: 10px;
      top: 3px;
      left: 0;
    }
  }
  h5 {
    color: #333;
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0;
  }
  h6 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0;
  }
  p {
    margin: 30px 0;
  }
  ul {
    list-style-type: disc;
    margin: 30px;
  }
  ol {
    list-style-type: decimal !important;
    margin: 30px;
  }
  strong {
    font-weight:bold;
  }
  blockquote {
    background-color: #eee;
    padding: 20px;
    margin: 30px 15px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}


/*
*  blog 一覧
*----------------------------*/

.news-listArticle {
  border-bottom: 1px solid #b5b5b6;
  &:first-of-type {
    border-top: 1px solid #b5b5b6;
  }
  &__inner {
    display: block;
    text-decoration: none;
    padding: 40px 15px 30px;
    position: relative;
  }
  &__date {
    display: block;
    color: #898989;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
  }
  &__title {
    display: block;
    color: #3e3a39;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 18px;
  }
}


/*
*  news 詳細
*----------------------------*/
.news-sgContainer {
  border-top: 1px solid #b5b5b6;
  padding-top: 20px;
}

.news-sgTime {
  display: block;
  color: #898989;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: right;
  margin-bottom: 30px;
}

.news-sgBody {
  p{
    line-height: 1.7;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*
*  NEWS NEW
*----------------------------*/
.top-newsArticle-isNew {
  position: absolute;
  display: block;
  top: 5px;
  left: 22px;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  background-color: #0041A8;
  padding: 4px 6px;
  @include mediaquery-tablet {
      top: 5px;
      left: 7px;
      font-size: 10px;
      padding: 2px 6px;
  }
  @include mediaquery-smartphone {
      left: 0;
      top: 7px;
      font-size: 10px;
      padding: 2px 6px;
  }
}
.newsIsNew {
  @extend .top-newsArticle-isNew;
  font-size: 12px;
  top: 14px;
  left: 15px;
  @include mediaquery-tablet {
    font-size: 12px;
    padding: 4px 6px;
    top: 14px;
    left: 15px;
  }
  @include mediaquery-smartphone {
    font-size: 12px;
    padding: 4px 6px;
    top: 14px;
    left: 15px;
  }
}