@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  globalnavi 通常ナビ
*----------------------------*/

.gNav {
  position: fixed;
  top: 0;
  left: auto;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
  background: #f8f8f8;
  @include box-shadow(inset 0 0 5px 5px #ebebeb);
  @include mediaquery-pc {
    display: block !important;
    position: relative;
    right: 0 !important;
    overflow: inherit;
    background: none;
    @include box-shadow(none);
  } //グローバルナビ li
  .gNav__item {
    line-height: 1.5;
    @include mediaquery-pc {
      display: block;
      float: left;
      position: relative;
      line-height: 1;
      border: 0;
    }
    a {
      display: block;
      padding: 18px 0 18px 20px;
      position: relative;
      @include mediaquery-mobile {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #dfdfdf;
      }
      @include mediaquery-pc {
        padding: 0;
      }
      &:hover {
        @include box-shadow(inset 0 0 15px 3px #ebebeb);
        @include mediaquery-pc {
          @include box-shadow(none);
        }
      }
    }
    //スマホメニュー 矢印マークあり
    @include mediaquery-mobile {
      &--normal a {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 20px;
          width: 8px;
          height: 8px;
          border-top: 2px solid $color_main;
          border-right: 2px solid $color_main;
          @include transform(translate(0%, -50%) rotate(45deg));
          @include mediaquery-pc {
            display: none;
          }
        }
      } 
      //スマホメニュー 閉じるマーク
      &--close a {
        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 50%;
        }
        &::before {
          @include transform(translate(0%, -50%) rotate(45deg) !important);
          right: 14px !important;
          width: 14px !important;
          height: 2px !important;
          border-top: 2px solid $color_main;
        }
        &::after {
          @include transform(translate(0%, -50%) rotate(45deg) !important);
          right: 20px !important;
          width: 2px !important;
          height: 14px !important;
          border-right: 2px solid $color_main;
        }
      }
    }
  }
}


/*
*  globalnavi アコーディオン
*----------------------------*/

//アコーディオン全体
.gNav-accordion {
  .gNav__item {
    @include mediaquery-pc {
      &:hover {
        .accordionMenu--pc {
          display: block !important; //hover アコーディオンを開く
        }
      }
    }
    ul {
      display: none; //アコーディオン 非表示
    } //アコーディオン 1階層目
    & > a {
      @include mediaquery-pc {
        &.trigger {
          pointer-events: none;
        }
      }
    }
  }
}

//PC時のアコーディオン
.gNav-accordion {
  .accordionMenu--pc {
    @include mediaquery-pc {
      position: absolute;
      display: none !important;
      z-index: 100;
    }
  }
}

//MOBILE時のアコーディオン
.gNav-accordion {
  .accordion {
    @include mediaquery-mobile {
      &.close .trigger::before,
      &.close .trigger::after {
        content: "";
        position: absolute;
        border: none !important;
        background-color: $color_main;
        top: 50%;
        @include transform(translate(0%, -50%) rotate(0deg));
        display: block;
      }
      &.close .trigger::before {
        right: 14px;
        width: 14px;
        height: 2px;
      }
      &.close .trigger::after {
        right: 20px;
        width: 2px;
        height: 14px;
      }
      &.open .trigger::before {
        content: "";
        position: absolute;
        border: none !important;
        background-color: $color_main;
        top: 50%;
        @include transform(translate(0%, -50%) rotate(0deg));
        display: block;
        right: 14px;
        width: 14px;
        height: 2px;
      }
      .accordionMenu--mobile {
        display: none;
        margin-left: 0 !important;
        & > li {
          display: block;
          margin: 0;
          line-height: 1.3;
          &:first-child {
            border-top: 0;
          }
          & > a {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            position: relative;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #dfdfdf;
            padding-left: 30px;
            &::before {
              content: "-";
              position: absolute;
              top: 50%;
              left: 20px;
              @include transform(translate(0%, -50%));
            }
            span {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}



/*
*  globalnavi その他設定
*----------------------------*/

//drawer-overlayを消す
.drawer-overlay {
  z-index: 10000 !important;
  background: none !important;
  @include mediaquery-tablet {
    left: $mobileMenu_width_tablet - ($mobileMenu_width_tablet * 2);
  }
  @include mediaquery-smartphone {
    left: $mobileMenu_width_sp - ($mobileMenu_width_sp * 2);
  }
}