@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  header
*----------------------------*/
.header {
  z-index: 9999;
  border-top: 7px solid $color_main;
  @include mediaquery-pc {
    min-height: 140px;
    border-bottom: 5px solid #e6e6e6;
  }
  @include mediaquery-mobile {
    @include display-flex;
    @include justify-content(space-between);
    width: 100%;
    height: 75px;
    padding: 9px 10px 0 10px;
  }
}

//ヘッダー｜ロゴ
.header__logo {
  width: 416px;
  @include mediaquery-smartphone {
    width: 240px;
  }
}
//ヘッダー
.header__inner {
  @include mediaquery-pc {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    width: 1024px;
    margin: 0 auto;
    padding-top: 12px;
  }
}
.header__sub {
  &__btn {
    display: inline-block;
    vertical-align: top;
    a {
      display: block;
      padding: 1em 2em;
      font-size: 15px;
      text-decoration: none;
      color: #fff;
      border-radius: 23px;
      height: 46px;
      width: 185px;
    
    position: relative;
      @include mediaquery-smartphone {
        font-size: 14px;
      }
    }
    &--member {
      background-color: $color_main;
      @include mediaquery-mobile {
        padding: 12px 2em !important;
      }
      &:after {
        content: "\e902";
        font-family: 'icomoon' !important;
      }
    }
    &--class {
      position: relative !important;
      background-color: $color_accent;
      font-size: 14px !important;
      padding: 10px 0 !important;
      text-align: center;
      @include mediaquery-mobile {
        font-size: 12px !important;
        padding: 4px 0 !important;
      }
      &:after {
        content: "\e901";
        font-family: 'icomoon' !important;
        font-size: 15px;
        position: absolute;
        top: 16px;
        right: 18px;
        @include mediaquery-mobile {
          font-size: 14px;
          top: 12px;
          right: 20px;
        }
      }
    }
    .gNav .gNav__item & {
      display: block;
      padding: 10px 10px 0;
      &:first-of-type {
        padding-top: 20px;
      }
      a {
        padding: 1em 2em;
        text-align: center;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}


#is-headerFixed {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  @include transition(all .5s);
  &.scrolled {
    background: rgba(255,255,255,.96);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9990;
    @include box-shadow(0 3px 2px rgba(0,0,0,.2));
  }
}

.header__subMoblie__menu {
  img {
    display: block;
  }
}
/*
*  globalnavi
*----------------------------*/

//globalnavi_レイアウト
.gNav {
  @include mediaquery-pc {
    width: 1024px;
    margin: 0 auto;
    padding-top: 15px;
  }
  @include mediaquery-tablet {
    width: $mobileMenu_width_tablet; //スマホメニュー幅
  }
  @include mediaquery-smartphone {
    width: $mobileMenu_width_sp; //スマホメニュー幅
  }
}

//globalnavi_PCデザイン
.gNav {
  @include mediaquery-pc {
    .gNav__item {
      position: relative;
      width: 16.6666%;
      height: 40px;
      border-right: 1px solid #ccc;
      &:first-child {
        border-left: 1px solid #ccc;
      }
      > a {
        position: relative;
        color: #000;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        &:after {
          content: "";
          position: absolute;
          @include calc('width', '100% + 1px');
          height: 5px;
          left: 0;
          bottom: -18px;
          background-color: transparent;
          @include transition(all ease 0.2s);
        }
        &:hover:after {
          background-color: $color_main;
        }
      }
      &.is-current > a {
        &:after {
          content: "";
          position: absolute;
          @include calc('width', '100% + 1px');
          height: 5px;
          left: 0;
          bottom: -18px;
          background-color: $color_main;
        }
      }
    }
  }
}

.gNav__item {
  @include mediaquery-pc {

  }
}

//globalnavi_アコーディオン_PC デザイン
.gNav-accordion {
  .accordionMenu--pc {
    @include mediaquery-pc {
      width: 200px;
      background-color: #f2f2f2;
      top: 60px;
      left: 50%;
      margin-left: -100px !important;
      padding: 10px;
      &::before {
        content: "▲";
        font-size: 25px;
        color: #f2f2f2;
        text-align: center;
        position: absolute;
        top: -60px;
        padding-top: 40px;
        left: 0;
        width: 100%;
      }
      &::after {
        content: none;
      }
      li {
          border-bottom: solid 1px #cdcdcd;
          &::after {
            content: none;
          }
      }
      a {
        color: $color_font;
        text-decoration: none;
        display: block;
        width: 160px;
        margin: 5px 10px;
        padding-left: 12px;
        position: relative;
        font-size: 12px;
        &::after {
          content: none;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          background: $color_main;
        }
        &:hover {
          background: #cfcfcf;
        }
      }
    }
  }
}

//globalnavi_MOBILE デザイン
.gNav-accordion {
  @include mediaquery-mobile {
    //１階層目
    .gNav__item > a {
      color: #333;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
    }
    //２階層目
    .accordionMenu--mobile {
      & > li > a {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

//SP グローバルナビのオーバーレイ部分
.drawer-open {
  @include mediaquery-mobile {
    .is-menuOpen-overlay::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 80;
      left: 0;
      top: 0;
    }
  }
}

//SP メニューボタン
.drawer--right.drawer-open .drawer-hamburger{
  z-index: 100;
  @include mediaquery-tablet {
    right: 250px;
  }
  @include mediaquery-smartphone {
    right: 190px;
  }
}

//モバイルメニューを開いた時_メニューボタンを消す
.drawer-open {
  .drawer-toggle.drawer-hamburger {
    display: none;
  }
}

//ヘッダー｜モバイルメニュー
.header__subMoblie{
  // width: 100%;
  max-width: 50px;
  height: auto;
}

/*
*  footer
*----------------------------*/
.footer {
  border-top: 1px solid #ccc;
}

.footerContainer {
  padding: 40px 0;
  @include mediaquery-smartphone {
    padding: 20px 0 70px;
  }
}
.footer-main { 
  @include display-flex;
  @include mediaquery-mobile {
    @include flex-direction(column);
    @include align-items(center);
  }
  &__logo {
    width: 416px;
    @include mediaquery-smartphone {
      width: 295px;
    }
  }
  &__address {
    @include mediaquery-pc {
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid #ccc;
      p {
        padding-top: 5px;
      }
    }
    @include mediaquery-mobile {
      margin-top: 1em;
    }
  }
}
.footer-menuList {
  @include display-flex;
  @include justify-content(center);
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  li {
    & + li {
      margin-left: 2em;
    }
    a {
      font-size: 14px;
      text-decoration: none;
      color: #666;
    }
  }
}

// コピーライト
.copyRight {
  padding: 16px 10px;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  background-color: $color_main;
  @include mediaquery-smartphone {
    font-size: 13px;
  }
}

//ページトップへ戻るボタン
.pageTop-box {
  position: relative;
  .pageTop {
    position: fixed;
    cursor: pointer;
    width: 55px;
    z-index: 999;
    @include mediaquery-pc {
      right: 5px;
    }
    @include mediaquery-tablet {
      right: 5px;
      // margin-bottom: -70px;
    }
    @include mediaquery-smartphone {
      right: 5px;
      margin-bottom: -132px;
    }
  }
}
