@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*****************************
**
**  下層ページ共通スタイル
**
******************************/

/*
*  下層ページ全体
*----------------------------*/

.sub-container {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  @include mediaquery-mobile {
    padding-right: 10px;
    padding-left: 10px;
  }
  &.column2 {
    max-width: 1024px;
  }
}
.bg-lb{
  background-color: rgba($color_sub, 0.1);
}

/*
*  パンくずリスト
*----------------------------*/

.sub-breadcrumbs {
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: rgba($color_sub, 0.1);
  li {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    color: #000;
    & + li{
      margin-left: 5px;
      &:before{
        content: ">";
        display: inline-block;
        margin-right: 5px;
      }
    }
    a {
      text-decoration: underline;
      color: #000;
      @include mediaquery-pc {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/*
*  H1
*----------------------------*/

.sub-category {
  background-color: $color_main;
  &__inner {
    position: relative;
    max-width: 1024px;
    height: 160px;
    margin: 0 auto;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    @include mediaquery-tablet {
      left: -10%;
    }
    @include mediaquery-smartphone {
      left: -40%;
    }
  }
  &__item {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    @include transform(translate(0, -50%));
    .en {
      display: block;
      font-size: 12px;
      margin-top: 12px;
    }
    @include mediaquery-smartphone {
      font-size: 25px;
      left: 50%;
    }
  }
}


/*
*  ページナビ
*----------------------------*/

.sub-pgNav {
  @include display-flex;
  @include flex-wrap(wrap);
  @include mediaquery-pc {
  @include justify-content(center);
    margin-bottom: 50px;
  }
  @include mediaquery-mobile {
    @include justify-content(space-between);
    margin-bottom: 40px;
  }
  li {
    > a {
      position: relative;
      overflow: hidden;
      display: block;
      width: 100%;
      height: 60px;
      line-height: 60px;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: $color_main;
      span {
        font-size: 13px;
      }
      &:after {
        position: absolute;
        content: "";
        right: -16px;
        bottom: -16px;
        border-width: 16px;
        border-style: solid;
        border-color: $color_sub transparent transparent transparent;
        @include transform(rotate(-45deg));
      }
    }
  }
  &-4clm {
    @include mediaquery-pc {
      li {
        width: 200px;
        & + li {
          margin-left: 22px;
        }
      }
    }
    @include mediaquery-tablet {
      li {
        width: 23%;
      }
    }
    @include mediaquery-smartphone {
      li {
        width: 48%;
        margin-bottom: 10px;
      }
    }
  }
}


/*
*  サイド
*----------------------------*/

//メニュー
.sub-sideMenu {
  position: relative;
  overflow: hidden;
  &:before {
    position: absolute;
    content: "";
    top: -24px;
    left: -24px;
    border-width: 24px;
    border-style: solid;
    border-color: transparent $color_sub transparent transparent;
    @include transform(rotate(45deg));
  }
  h6 {
    background-color: $color_main;
    padding: 15px 0 15px 35px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    span {
      display: inline-block;
      font-size: 10px;
      font-weight: normal;
      margin-left: 1em;
    }
  }
  ul {
    li {
      border-bottom: 1px dashed #acacac;
      & > a {
        display: block;
        padding: 16px 10px 16px 25px;
        color: #333;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        &::before {
          content: "▶︎";
          color: $color_main;
          font-size: 10px;
          position: absolute;
          top: 50%;
          left: 6px;
          @include transform(translate(0, -50%));
        }
      }
    }
  }
}

//カレンダー
.sub-calendar {
  padding: 15px;
  background-color: #f2f2f2;
  table {
    width: 100%;
    table-layout: fixed;
  }
  center {
    display: block;
    margin-bottom: 12px;
    div {
      display: inline-block;
    }
    .center {
      margin: 0 5px;
    }
  }
  .prev,
  .next{
    a{
      color: $color_sub;
    }
  }
  tr:first-child td {
    padding: 0;
  }
  th {
    background-color: #f2f2f2;
    padding: 8px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
  td {
    padding: 6px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
  .sunday {
    color: #eb1921;
  }
  .saturday {
    color: $color_sub;
  }
}