@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  categorytag
*----------------------------*/

.mod-catTag {
  display: inline-block;
  min-width: 92px;
  padding: 6px 1px;
  background-color: $color_main;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  @include border-radius(50px);
  &--01 {
    background-color: $color_sub;
  }
  &--02 {
    background-color: $color_accent;
  }
  &--03 {
    background-color: #1db9dd;
  }
  &--04 {
    background-color: #ed7a37;
  }
  &--05 {
    background-color: #915bbc;
  }
  &--06 {
    background-color: #c68c46;
  }
  &--07 {
    background-color: #9fa0a0;
  }
  &--default {
    background-color: $color_main;
  }
}
