@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  font_color
*----------------------------*/

.mod-font-cMain {
  color: $color_main;
}
.mod-font-cSub {
  color: $color_sub;
}
.mod-font-cAccent {
  color: $color_accent;
}

.mod-font-cWhite {
  color: #fff;
}
.mod-font-cBlack {
  color: #000;
}
.mod-font-cGray {
  color: #666;
}
.mod-font-cLightGray {
  color: #999;
}
.mod-font-cRed {
  color: #ff0000;
}


/*
*  font_family
*----------------------------*/

.mod-font-famSub {
  font-family: $font_family_sub;
}
