@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  Heading
*----------------------------*/

.mod-hl-01 {
  position: relative;
  margin-bottom: 25px;
  padding-left: 35px;
  font-size: 23px;
  font-weight: 500;
  color: #000;
  &:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 50%;
    left: 0;
    width: 25px;
    height: 22px;
    background-image: url(../img/common/icon_head_01.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    @include transform(translateY(-50%));
  }
}

.mod-hl-02 {
  color: #000;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 10px 14px 22px;
  background-color: #e1e1e1;
  border-left: 7px solid $color_main;
  margin-bottom: 25px;
}

.mod-hl-03 {
  color: $color_main;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  &--number {
    position: relative;
    padding-left: 36px;
    .item--num {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.mod-hl-04 {
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  &:before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    background-image: url(../img/common/icon_head_02.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    @include transform(translateY(-50%));
  }
}


.mod-hl-05 {

}

.mod-hl-06 {

}
