@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  background_color
*----------------------------*/

.mod-bg-cMain {
  background-color: $color_main;
}

.mod-bg-cSub {
  background-color: $color_sub;
}

.mod-bg-cAccent {
  background-color: $color_accent;
}


/*
*  background_pattern
*----------------------------*/
