@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

/*
*  base font
*----------------------------*/

//ゴシック_基本
$font_family_base: "Hiragino Sans", "ヒラギノ角ゴシック", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

//明朝_基本
$font_family_sub: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, serif;
$font_family_sub_02: 'Noto Sans JP', sans-serif;
$font_family_mPlus: 'M PLUS 1p', sans-serif;

//文章のフォントサイズ
$font_size_base: 15px;


/*
*  base color
*----------------------------*/

// メインカラー（ベースカラー）
$color_main: #0041a8;

// サブカラー
$color_sub: #29abe2;

// アクセントカラー
$color_accent: #39b54a;

// ベーステキストカラー
$color_font: #3e3a39;

// ベースリンクカラー
$color_link: #0041a8;

// ページネーションカラー
$color_pagination: #333;


/*
*  base width
*----------------------------*/

// ページ全体の横幅
$width_base: 1024px;

// 2columnのサイドコンテンツ
$width_sub: 230px;

// 2columnのメインコンテンツ
$width_main: 750px;

// モバイルメニュー
$mobileMenu_width_tablet: 260px;
$mobileMenu_width_sp: 200px;


/*
*  mixin
*----------------------------*/

//縦横中央揃え
@mixin allCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

// calc
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
