@charset "utf-8";
//インポート
@import "compass";
@import "compass/reset/";
@import "compass/utilities/general/clearfix";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ

/*****************************
**
** 凡例
**
******************************/
/*
//メディアクエリ切替
@include mediaquery-pc {
}
@include mediaquery-tablet {
}
@include mediaquery-smartphone {
}
//Retina対応背景処理
$globalnavi: sprite-map("global_menus/*.png");
.global_menus-guide{
@include sprite-background($globalnavi, guide);
}
.global_menus-guide:hover{
@include sprite-background($globalnavi, guide_hover);
}
*/


/*
*  共通クラス
*----------------------------*/

.clearfix{zoom:1}
.clearfix:after{content:'';display:block;clear:both}

.box-sizeing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//画像を幅にフィットさせる
.imgFit {
  width: 100%;
  height: auto;
}


//画像トリミング
.imgObjectFitCover {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
}

.imgObjectFitContain {
  object-fit: contain;
  font-family: 'object-fit: contain;';
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
}

.imgObjectFitScaleDown {
  object-fit: scale-down;
  font-family: 'object-fit: scale-down;';
  width: 100%;
  height: 100%;
  vertical-align: text-bottom;
}


/*
*  display：
*----------------------------*/

//display: block
.d-block {
  display: block !important;
}

.d-block-pc {
  @include mediaquery-pc {
    display: block !important;
  }
}

.d-block-spNot {
  @include mediaquery-spNot {
    display: block !important;
  }
}

.d-block-mobile {
  @include mediaquery-mobile {
    display: block !important;
  }
}

.d-block-sp {
  @include mediaquery-smartphone {
    display: block !important;
  }
}


//display: inline
.d-inline {
  display: inline !important;
}

.d-inline-pc {
  @include mediaquery-pc {
    display: inline !important;
  }
}

.d-inline-spNot {
  @include mediaquery-spNot {
    display: inline !important;
  }
}

.d-inline-mobile {
  @include mediaquery-mobile {
    display: inline !important;
  }
}

.d-inline-sp {
  @include mediaquery-smartphone {
    display: inline !important;
  }
}


//display: inline-block
.d-inlineBlock {
  display: inline-block !important;
}

.d-inlineBlock-pc {
  @include mediaquery-pc {
    display: inline-block !important;
  }
}

.d-inlineBlock-spNot {
  @include mediaquery-spNot {
    display: inline-block !important;
  }
}

.d-inlineBlock-mobile {
  @include mediaquery-mobile {
    display: inline-block !important;
  }
}

.d-inlineBlock-sp {
  @include mediaquery-smartphone {
    display: inline-block !important;
  }
}


/*
*  表示・非表示
*----------------------------*/

.dn {
  display: none !important;
}

.dn-pc {
  @include mediaquery-pc {
    display: none !important;
  }
}

.dn-pcTab {
  @include mediaquery-pc {
    display: none !important;
  }
  @include mediaquery-tablet {
    display: none !important;
  }
}

.dn-tab {
  @include mediaquery-tablet {
    display: none !important;
  }
}

.dn-mobile {
  @include mediaquery-tablet {
    display: none !important;
  }
  @include mediaquery-smartphone {
    display: none !important;
  }
}

.dn-sp {
  @include mediaquery-smartphone {
    display: none !important;
  }
}


/*
*  配置
*----------------------------*/

//中央揃え
.textCenter {
  text-align: center !important;
}

.textCenter-pc {
  @include mediaquery-pc {
    text-align: center !important;
  }
}

.textCenter-pcTab {
  @include mediaquery-pc {
    text-align: center !important;
  }
  @include mediaquery-tablet {
    text-align: center !important;
  }
}

//右揃え
.textRight {
  text-align: right !important;
}

.textRight-pc {
  @include mediaquery-pc {
    text-align: right !important;
  }
}

.textRight-pcTab {
  @include mediaquery-pc {
    text-align: right !important;
  }
  @include mediaquery-tablet {
    text-align: right !important;
  }
}

//左揃え
.textLeft {
  text-align: left !important;
}

//フロート左
.floatLeft {
  float: left !important;
}

.textRight-pc {
  @include mediaquery-pc {
    float: left !important;
  }
}

.textRight-pcTab {
  @include mediaquery-pc {
    float: left !important;
  }
  @include mediaquery-tablet {
    float: left !important;
  }
}

//フロート右
.floatRight {
  float: right !important;
}

.textRight-pc {
  @include mediaquery-pc {
    float: right !important;
  }
}

.textRight-pcTab {
  @include mediaquery-pc {
    float: right !important;
  }
  @include mediaquery-tablet {
    float: right !important;
  }
}


/*
*  フォント・テキスト
*----------------------------*/

.fontBold {
  font-weight: bold !important;
}

.fontItalic {
  font-style: italic !important;
}

.underline {
  text-decoration: underline !important;
}

.overline {
  text-decoration: overline !important;
}

.lineThrough {
  text-decoration: line-through !important;
}

.verticalTop {
  vertical-align: top !important;
}

.verticalTextMiddle {
  vertical-align: middle !important;
}

.verticalBottom {
  vertical-align: bottom !important;
}

.verticalTextBottom {
  vertical-align: text-bottom !important;
}

.verticalSuper {
  vertical-align: super !important;
}

.verticalSub {
  vertical-align: sub !important;
}

.wordWrapBreak {
  word-wrap: break-word !important;
}

//font-sizeを1ずつ48まで引き上げたい。
@for $i from 12 through 48 {
  .font#{$i}{
    font-size: #{$i}px !important;
  }
}

/*
.font10 {
    font-size: 10px !important;
}
*/


/*
*  マージン
*----------------------------*/

.marginCenter {
  margin: 0 auto !important;
}

.marginTop0 {
  margin-top: 0 !important;
}

.marginBottom0 {
  margin-bottom: 0 !important;
}

//margin-topとbottom、padding-top、bottomを5ずつ引き上げたい
$baseWidth: 5;
@for $i from 1 through 100 {
  $data: $baseWidth * $i;
  .marginTop#{$data}{
    margin-top: #{$data}px !important;
  }
  .marginBottom#{$data}{
    margin-bottom: #{$data}px !important;
  }
  .paddingTop#{$data}{
    padding-top: #{$data}px !important;
  }
  .paddingBottom#{$data}{
    padding-bottom: #{$data}px !important;
  }
}

/*
.marginTop10 {
    margin-top: 10px !important;
}
*/


/*
*  幅
*----------------------------*/

//Widthを5pxずつ500まで引き上げたい。
$baseWidth: 5;
@for $i from 1 through 100 {
  $data: $baseWidth * $i;
  .w#{$data}{
    width: #{$data}px !important;
  }
}

/*
.w10 {
    width: 10px !important;
}
*/